@mixin font {
    font-style: normal;
    font-size: 18px;
    line-height: 23.04px;
    letter-spacing: 0.2px;
    color: #333333;
    @media(min-width:1550px){
        font-size: 22px;
    }
}
@mixin content-text4 {
    width: 178px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 30.19px;
    color: #333333;
    margin-top: -3px;
    margin-right: 55px;
    height: 60px;
    border-bottom: 2px solid #FFDB2D;
}
@mixin footer-font-style{
    font-size: 16px;
    color: #E0E0E0;
    @media(min-width:1550px){
        font-size: 22px;
    }
}
*{
    padding: 0;
    margin: 0;
}
.container{
    display: block;
    background-color:#ffffff;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    .header{
        display: inline-flex;
        width: 100%;
        align-items: center;
        height: 100px;
        padding:0px 30px;
        box-sizing: border-box;
        @media (max-width:930px){
            height: auto;
        }
        @media (max-width:630px){
            display: grid;
            height: auto;
            grid-template-columns: 1fr 1fr ;
            grid-row-gap: 20px;
        }
        @media (max-width:400px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .header__logo{
            width: 43.93px;
            height: 52.8px;
            margin-right: 7.86%;
            @media(min-width:1550px){
                width: 50.93px;
                height: 60.8px;
                margin-right: 10%;
            }
            @media (max-width:1440px){
                margin-right: 70.09px;
            }
            @media (max-width:1042px) {
                margin-right: 20px;
            }
        }
        .header__phone{
            display: flex;
            flex-direction: column;
            min-width: 155px;
            line-height: 23.04px;
            font-size: 18px;
            letter-spacing: 0.2px;
            margin-right: 4.86%;
            @media(min-width:1550px){
                font-size: 20px;
                margin-right: 8.86%;
            }
            @media (max-width:1042px) {
                margin-right: 2%;
            }
            #header__phone__tel{
                margin-bottom: 10px;
            }
            @media (max-width:1440px){
                margin-right: 40.09px;
            }
            @media (max-width:1292px){
                margin-right: 40.09px;
            }
        }
        .header__link{
            display: inline-flex;
            justify-content: space-between;
            width: 638px;
            @media(min-width:1550px){
                font-size: 20px;
            }
            @media (max-width:930px){
                display: flex;
                flex-direction: column;
                width: auto;
            }
            .header__link1{
                position: relative;
                text-decoration: none;
                @include font();
                white-space: nowrap;
                &:hover{
                    color: #828282;
                }
                &:hover::after{
                    content: url(img/line.svg);
                    position: absolute;
                    bottom: 46px;
                    left: 0;
                }
            }  
        }
        .header__search{
            color: #333333;
            text-decoration: none;
            font-style: normal;
            font-size: 18px;
            line-height: 23.04px;
            border-bottom: 2px dotted #333333;
            width:77px;
            letter-spacing: 0.2px;
            margin-left: 6.32%;
            margin-right: 2.5%;
            @media(min-width:1550px){
                margin-left: 8.32%;
                margin-right: 4.5%;
            }
            @media (max-width:1042px) {
                margin-left: 3.32%;
                margin-right: 1.5%;
            }
            @media (max-width:400px){
                margin: 0;
            }
            @media (max-width:1440px){
                margin-left: 91px;
                margin-right: 36px;
            }
            @media (max-width:1292px){
                margin-left: 50px;
                margin-right: 16px;
            }
        }
        .header__button{   
            width: 108px;
            height: 43px;
            font-size: 15px;
            letter-spacing: 0.2px;
            border: 1px solid #333333;
            box-sizing: border-box;
            border-radius: 8px;
            background-color: #ffffff;
            cursor: pointer;
        }
    }
    .main{
        width: 100%;
        .content{
            padding-left: 30px;
            @media (max-width:500px){
                padding-left: 5px;
            } 
            .content1{
                width: 400px;
                margin-top: 67px;
                margin-bottom: 40px;
                .content1__text1{
                    @include font;
                }
                .content1__text2{
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 39.6px;
                    letter-spacing: 0.2px;
                    color: #333333;
                    @media(min-width:1550px){
                        font-size: 34px;
                    }
                }
                .content1__text3{
                    font-size: 16px;
                    font-style: normal;
                    color: #828282;
                    @media(min-width:1550px){
                        font-size: 20px;
                    }
                }
            }
            .home{
                display: flex;
                flex-direction: row;               
                @media (max-width:1042px){
                    flex-direction: column;
                }
                .home__content-text4{
                    @include content-text4();
                    @media (min-width:1550px){
                        margin-right: 100px;
                    }
                     @media (min-width:1700px){
                        margin-right: 150px;
                    }
                    @media (max-width:1042px){
                        margin-bottom: 20px;
                    }
                }
                .chat{
                    margin:-120px 30px 0px 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    @media (min-width:1550px){
                        margin-left: 60px;
                    }
                    @media (max-width:1042px){
                        max-width: 680px;
                        margin:0px 0px 20px 0px;
                    }
                    @media (max-width:730px){
                        max-width: 460px;
                    }
                    @media (max-width:500px){
                        max-width: 290px;
                    }
                    .chat__text{
                        position: absolute;
                        z-index: 1;
                        margin-top: 157px;                          
                    }
                    #chat__text{                       
                        border: none;
                        position: relative;
                        width: 447px;
                        height: 764px;
                        border-radius: 8px;
                        background: #E0E0E0;
                        @media (max-width:1392px){
                            width: 300px;
                        }
                        @media (max-width:1042px){
                            width: 680px;
                            height: 350px;                         
                        }
                        @media (max-width:730px){
                            width: 460px;
                            height: 350px;                         
                        }
                        @media (max-width:500px){
                            width: 290px;
                        }
                    }
                }
            }
        }
    }
    .home2{
        display: flex;
        flex-direction: row;
        padding-left:30px ;
        min-height: 1400px;
        @media (max-width:500px){
            padding-left: 5px;
            min-height: 1550px;
        }
        .background{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .home2__background{
                object-fit: cover;
                position: relative;
                margin-top: 84px;
                width: 943px;
                height: auto;    
                @media (max-width:1242px){
                    width: 800px;
                }
                @media (max-width:1042px){
                    width: 600px;
                    height: 1000px;
                }
                @media (max-width:730px){
                    width: 400px;
                    height: 700px;
                }
                @media (max-width:500px){
                    width: 290px;
                    height: 590px;
                }
            }
        }       
        .home2-2{
            position: absolute;
            display: flex;
            flex-direction: row;
            @media (max-width:1042px){
                flex-direction: column;
            }
            .home2-2__content{
                @include content-text4();
                 @media(min-width:1550px){
                     margin-right: 150px;
                 }
                @media (max-width:1042px){
                    margin-bottom: 20px;
                }
            }
        }
        .home3{
            position: absolute;
            margin-top: 622px;
            display: flex;
            flex-direction: row;
            @media (max-width:1042px){
                flex-direction: column;
            }
            @media (max-width:500px){
                margin-top: 690px;
            }

            .home2-2__content{
                @include content-text4();
                @media(min-width:1550px){
                     margin-right: 150px;
                 }
                @media (max-width:1042px){
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer{      
        width: 100%;
        background-color: #333333;
        margin-top: -150px;
        position: relative;
        padding: 80px 30px ;
        box-sizing: border-box;
        @media (max-width:500px){
            padding: 40px 5px ;
        }
        .footer1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media(max-width:730px){
                flex-direction: column;
                align-items: center;
            }
            .footer-content{
                display: flex;
                flex-direction: column;
                .footer-content__head{
                    font-size: 30px;
                    font-style: normal;
                    line-height: 37.74px;
                    font-weight: 700;
                    color:#E0E0E0;
                    margin-bottom: 40px;
                }
                .footer-content__text1{
                    @include footer-font-style;      
                }
                .footer-content__text1-1{
                    display: flex;
                    flex-direction: row;
                    @include footer-font-style;
                    margin-bottom: 40px;
                    #text1-number{
                        margin-right: 40px;
                    }
                }
                .footer-content__text2{
                    @include footer-font-style;
                }
                .footer-content__text2-1{
                    @include footer-font-style;
                    margin-bottom: 40px;
                }
                .footer-grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 20px;
                    .footer-grid__elem{
                        color: #ffffff;
                    }
                }
            }
            .footer-content__map{
                background-image: url("img/Map.svg");
                background-size:cover ;
                margin-left: 23px;
                width: 797px;
                height: 643px;
                @media (max-width:1042px){
                    margin-top: 20px;
                    width: 600px;
                    height: 484px;
                }
                @media (max-width:650px){
                    width: 400px;
                    height: 322px;
                }
                @media (max-width:470px){
                    width: 300px;
                    height: 230px;
                    margin-left: 0;
                }
            }
        }
    }
}

//аккордион

.accordion-item{
    margin-bottom: 5px;
}
.accordion-item--active .accordion-item__trigger {
    background-color: greenyellow;
}
.accordion-item--active .accordion-item__content {
    display: block; 
}
.accordion-item__trigger{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    width: 680px;
    border-radius: 8px;
    background-color: #f4f4f4;    
    padding:0px 30px;  
    font-weight: 500;   
    font-style: normal;
    font-size: 16px;     
    line-height: 24px; 
    box-sizing: border-box;  
    @media(min-width:1550px){
        width: 780px;
        font-size: 20px; 
    }
    @media (max-width:1242px){
        width: 480px;
    }     
    @media (max-width:1042px){
        width: 680px;
    } 
    @media (max-width:730px){
        width: 460px;
        padding:0px 5px;
    } 
    @media (max-width:500px){
        width: 290px;
    } 
}
.accordion-item__content{
    width: 680px;
    border-top: none;
    background-color: #f4f4f4;
    border-radius: 8px;
    display: none;
    padding: 20px 89px 37px 40px;
    box-sizing: border-box;
    @media(min-width:1550px){
        width: 780px;
        font-size: 20px; 
    }
    @media (max-width:1242px){
        width: 480px;
    }   
    @media (max-width:1042px){
        width: 680px;
        padding: 20px 49px 37px 40px;

    } 
    @media (max-width:730px){
        width: 460px;
        padding: 10px 15px 15px 15px;
    } 
    @media (max-width:500px){
        width: 290px;
    }  
}                        
                    
        